<div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3>Thêm danh mục sản phẩm mới</h3>
        <div class="row mb-3">
          <form (ngSubmit)="insertCategory()">
            <div class="form-group mb-3">
              <label for="name">Tên:</label>
              <input type="text" id="name" [(ngModel)]="insertCategoryDTO.ten" 
              name="name" class="form-control" required>
            </div>              
            <button type="submit" class="btn btn-primary">Thêm mới</button>
          </form>
        </div>        
      </div>
    </div>
  </div>