<app-header></app-header>
<div class="container">
    <div class="intro-section">
        <h1>Trang chi tiết sản phẩm</h1>

    </div>
    <div class="row">
        <div class="col-md-4">
            <!-- //carousel chuyen doi cac hinh anh san pham -->
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
            
                <div class="carousel-inner">
                    
                    <div 
                    *ngFor="let image of sanpham?.sanpham_hinhs;let i=index" 
                    [ngClass]="{'active':i==currentImageIndex}"
                     class="carousel-item active" >
                     <button class="favorite-button" title="Thêm vào yêu thích" (click)=" addToLove()">
                        <i class="fas fa-heart"></i>
                        <span hidden="false" class="tooltip-text">Thêm vào yêu thích</span>
                    </button>
                        <div class="square-image">
                          
                            <img [src]="image.diachihinh" class="product-image" alt="Product Image">

                        </div>
                    </div>
                   
                </div>
                <!-- nut chuyen doi carousel -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="prev" (click)="previousImage()">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                    data-bs-slide="next" (click)="nextImage()">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div class="row">
                <div class="thumbnail-container">
                    
                    <!-- Cac anh thu nho cua san pham -->
                    <div *ngFor="let image of sanpham?.sanpham_hinhs;let i=index"
                    class="thumbnail-item active"
                    [ngClass]="{'active':i==currentImageIndex}"
                    (click)="thumbnailClick(i)">
                    
                        <img [src]="image.diachihinh" class="thumbnail-image" alt="Thumbnail Image">
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="product-details">
                <h2>{{sanpham?.ten}}</h2>
                <p>{{sanpham?.mota}}</p>
                <p class="price">{{ sanpham?.gia | currency:'VND':'symbol':'1.0-0' }}</p>
                <div *ngIf="showMessage" class="simple-alert">
                    {{ message }}
                  </div>
                <div class="product-quantity">
                    
                   
                    <div class="border-wrapper">
                        <button (click)="decreaseQuantity()">-</button>
                        <input type="text" [value]="quantity">
                        <button  (click)="increaseQuantity()">+</button>
                    </div>
                </div>
                <div class="product-actions">
                    <button 
                    (click)="addToCart()"
                    class="btn btn-primary">
                        <i class="fas fa-shopping-cart icon"></i>Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button
                    (click)="buyNow()"
                    class="btn btn-success">Mua ngay</button>
                  
                </div>
            
            </div>
        </div>
    </div>
</div>
