<app-header></app-header>
<div class="container">
    <div class="confirmation-container">
        <h1>Danh sách sản phẩm yêu thích</h1>
    </div>
    <div class="col-md-12">
  <div class="table-responsive">
        <table>
            <thead>
                <tr>
                    <th scope="col" class="text-start">Sản phẩm</th>
                    

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of loveItems; let last = last" [class.last-row]="last">
                    <td>
                        <div class="product-info">
                            <img [src]="item.sanpham.hinhthunho" alt="Product Image" class="product-image"
                                (click)="onProductClick(item.sanpham.ma)">
                            <span class="product-name">{{item.sanpham.ten}} </span>
                            <br>
                        </div>
                    </td>
                    <td>

                        <button class="btn btn-primary" (click)="addToCart(item.sanpham.ma,item.sanpham.ten)">
                            <i class="fas fa-shopping-cart icon"></i>Thêm vào giỏ hàng</button>

                    </td>
                    <td>

                        <button class="btn primary clear" type="button" (click)="clearone(item.sanpham.ma)">Xóa yêu thích</button>

                    </td>
                </tr>
            </tbody>

        </table>
        </div>
        <div *ngIf="showMessage" class="col-lg-3 simple-alert">
            {{ message }}
          </div>
        
        
        <div class="text-center mt-3 btn-group">
            <button class="btn succed continued" type="button" routerLink="/products">Tiếp tục mua sắm</button>
            <button class="btn primary clear" type="button" (click)="clear()">Xóa danh sách sản phẩm yêu
                thích</button>
        </div>

    </div>
</div>
