.container {
    color: black;
   
        width:  100vw; 
          height: 100vh;
     
    height: 100vh;    
}

.register-form {
    padding: 10px;
    background-color:white;
    border-radius: 10px;
    margin-top: 50px;
    max-width: 500px;
    border: 1px solid palevioletred;
    align-items: center;
    justify-content: center;
   
}

.register-header {
    text-align: center;
    /*      color: rgb(233, 66, 178);*/
    color:black;
    margin-bottom: 20px;

}

.label-text {
    color:black;
}

.form-control {
    background-color:white;
    border: 1px solid skyblue;
    color: black;
}
.form-control:focus {
    border: 1px solid  red;
    color: black;
    background-color: transparent;
    outline: none;
 
}

.password-field {
    position: relative;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: rgb(105, 244, 181);
    cursor: pointer;
}

.checkbox-text {
    color:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

/* Màu checkbox khi được chọn */
.checkbox-text input[type="checkbox"]:checked {
    border-color: white;
    background-color: red;
}

.form-check-input {
    margin-right: 5px;
}

.register-link {
    color: blue;
    text-decoration: none;
}

.register-button {
    background:  palevioletred;
    color: white;
    border-radius: 30px;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    border: none;
}

.divider {
    height: 1px;
    background-color: rgb(243, 165, 42);
    /*      background-color: rgb(105, 244, 181)*/
    margin: 20px;
}

.divider-nospace {
    border-top: 1px solid white;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:gray;
    opacity: 1;
    /* Firefox */
}

.password-field {
    position: relative;
   
   
}
.password-toggle {
    margin-top: 10px;
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #007BFF; /* Màu xanh, bạn có thể thay đổi màu sắc nếu cần */
  }

