<!-- Lay footer bostrap roi chinh sua lai -->

<footer  class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
  
        
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
     
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Đôi lời từ VHANDMADE:</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
           
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <!-- <button type="submit" class="btn btn-outline-light mb-4">
                Subscribe
              </button> -->
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
         Chào mừng bạn đến với Vhandmade.Với sự sáng tạo,ước mơ và tâm huyết chúng tôi mang đến cho bạn
         không gian mua sắm trực tuyến,độc đáo.Với những sản phẩm handmade hoàn thiện hoặc bộ nguyên liệu 
        tự làm sẽ giúp bạn có những món quà ý nghĩa dành tặng những người bạn yêu thương!
        </p>
      </section>
      <!-- Section: Text -->
  
      <!-- Section: Links -->
     
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="">Vhandmade</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->