<!-- Trang sản phẩm -->
<app-header></app-header>
<div class="container" class="product-banner">
    <div class="intro-section">
        <h1>Trang sản phẩm</h1>
    </div>
    <!--! o search va combobox-->

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="input-group search-box">
                    <input type="text"
                     [(ngModel)]="keyword"
                    class="form-control search-input" placeholder="Tìm sản phẩm">
                    <select
                    [(ngModel)]="selecteMaDM"
                    class="form-control product-category">
                        <option [value]="0">Tất cả</option>
                        <option *ngFor="let danhmucsanpham of danhmucsanphams" [value]="danhmucsanpham.ma">
                            {{danhmucsanpham.ten}}
                        </option>
                    </select>
                    <button class="btn btn-search" type="button" (click)="search()"> <i class="fas fa-search"></i> Tìm kiếm</button>
                </div>
               
            </div>
         
               
            
        </div>
    </div>
    <!-- mess -->
    
    <div *ngIf="showMessage" class="col-lg-3 simple-alert">
        {{ message }}
      </div>
    
      

    <div class="row">
        <!--dung bootstrap row chia săn thành 4 o-->
        <div class="col-lg-3 col-md-6" *ngFor="let Sanpham of sanphams">
            <div class="product-item" >
                <button class="favorite-button" title="Thêm vào yêu thích" (click)="addToLove(Sanpham.ma,Sanpham.ten)">
                    <i class="fas fa-heart"></i>
                    <span hidden="false" class="tooltip-text">Thêm vào yêu thích</span>
                </button>
                <img [src]="Sanpham.diachihinh" alt="Product Image" class="product-image" (click)="onProductClick(Sanpham.ma)">
                <h4 class="product-name">{{Sanpham.ten}}</h4>
                <p class="product-description">{{Sanpham.mota}}</p>
                <h3 class="product-price">{{ Sanpham.gia | currency:'VND':'symbol':'1.0-0' }}</h3>


                <div class="product-rating">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <div class="product-actions">
                    <button class="btn btn-primary" (click)="addToCart(Sanpham.ma,Sanpham.ten)">
                        <i class="fas fa-shopping-cart icon"></i>Thêm vào giỏ hàng</button>
                    <span class="space-x"></span>
                    <button class="btn btn-success"(click)="addToCart2(Sanpham.ma,Sanpham.ten)">Mua ngay</button>
                </div>
                
            </div>
        </div>

    </div>

</div>

<div class="d-flex justify-content-center">


    <nav aria-label="Page navigation">
        <ul class="pagination">
            <!-- //chuyen ve page dau -->
            <li class="page-item" *ngIf="currentPage > 0">
                <a class="page-link" routerLink="/products" (click)="onPageChange(0)">First</a>
            </li>
            <!-- page truoc -->
            <li class="page-item" *ngIf="currentPage > 0">
                <a class="page-link" routerLink="/products" (click)="onPageChange(currentPage - 1)">Previous</a>
            </li>
            <!-- page hien tai -->
            <ng-container *ngFor="let page of visiblePages">
                <li class="page-item" [ngClass]="{'active':page===currentPage}">
                    <a class="page-link" routerLink="/products" (click)="onPageChange(page)">{{page + 1}}</a>
                </li>
            </ng-container>
            <!-- --page ke -->
            <li class="page-item" *ngIf="currentPage < totalPages - 1">
                <a class="page-link" routerLink="/products" (click)="onPageChange(currentPage + 1)">Next</a>
            </li>
            <!-- //page cuoi -->
            <li class="page-item" *ngIf="currentPage < totalPages - 1">
                <a class="page-link" routerLink="/products" (click)="onPageChange(totalPages - 1)">Last</a>
            </li>
        </ul>
    </nav>

</div>

<app-footer></app-footer>