
.intro-section {
    text-align: center;
    color: black;
    margin-bottom: 20px;
}
h1{
     font-family: Times;
}
.product-image {
    width: 100%;
    height: auto;
   
}

.search-box {
  
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    color: black;
}

.product-category {
    width: 300px;
    border-color:skyblue;
}

.search-input {
    width: 300px;
    background-color: rgb(19, 23, 42);
    margin-right: 10px;
    border-color:skyblue;
    color: black;
}
.btn-search{
    border-color:skyblue;
    color: black;
}
.btn-search:hover {
    color: red;
    
}
.form-control {
    background-color: transparent;
    color: black;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1;
    /* Firefox */
}



.product-item {
    background-color:whitesmoke;
    border: 1px solid rgb(35, 39, 61);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
}
.favorite-button {
    color: white;
    position: absolute;
    top: 7px;
    right: 15px;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
    font-size: 40px;
}
//hieu ung khi di chuot
.favorite-button:hover {
    color: red; /* Màu đỏ khi di chuột vào */
}
.product-image {
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
}

.product-name {
    color: black;
}

.product-description {
    color: black;
}
.product-loai {
    color: blue;
    text-size-adjust:10px;
}

.product-price {
    color: red;
}

.product-rating {
    color: #FFD700;
    margin-top: 10px;
}

.product-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.space-x {
    margin: 0 5px;
    /*margin-top, margin-right, margin-bottom, margin-left*/
}
//thong bao
.simple-alert {
    padding: 10px;
    margin: 10px auto; /* Thêm auto để canh giữa theo chiều ngang */
    background-color: #dff0d8;
    border: 1px solid #ddd;
    text-align: center; /* Căn giữa theo chiều ngang */
  }